<div class="row">
  <div class="col">
    <%= link_to bookmarks_path(post_id: post.id),
                method: :post,
                data: { turbo: false },
                remote: true do %>
      <i class="fa-regular fa-bookmark bookmark-btn"></i>
    <% end %>
  </div>
</div>
