<div class="row">
  <div class="col">
    <%= link_to bookmark_path(current_user.bookmarks.find_by(post_id: post.id)),
                method: :delete,
                data: { turbo: false },
                remote: true do %>
      <i class="fa-solid fa-bookmark bookmark-btn fs-5" style="margin-top: 2px;"></i>
    <% end %>
  </div>
</div>