<div class="mb-2 mt-3">
  <h6><%= comment.user.name %></h6>
  <%= comment.content %>
  <% if current_user.own?(comment) %>
    <ul class="list-inline justify-content-center" style="float: right;">
      <li class="list-inline-item">
      </li>
      <li class="list-inline-item">
      </li>
    </ul>
  <% end %>
</div>

