<h4 class="card-title text-center">コメント一覧</h4>
<hr>

<div id="js_post_comment">
  <% if comments.present? %>
    <%= render comments %>
  <% else %>
    <p class="text-center">コメントはありません。</p>
  <% end %>
</div>
