<h4 class="card-title text-center">コメント一覧</h4>
<hr>

<% if comments.present? %>
  <div id="js_post_comment">
    <%= render comments %>
  </div>
<% else %>
  <p class="text-center">コメントはありません。</p>
<% end %>
