<div class="row">
  <div class="col like-btn">
    <%= link_to likes_path(post_id: post.id),
                data: { turbo: false },
                method: :post,
                remote: true do %>
      <i class="fa-regular fa-heart"></i>
    <% end %>
    <span><%= post.likes.count %></span>
  </div>
</div>