<div class="row">
  <div class="col" style="padding-right: 0;">
    <%= link_to like_path(current_user.likes.find_by(post_id: post.id)),
                data: { turbo: false },
                method: :delete,
                remote: true do %>
      <i class="fa-solid fa-heart like-btn fs-5" style="margin-top: 2px;"></i>
    <% end %>
  </div>
  <div class="col like-btn" style="padding-left: 0;">
    <%= post.likes.count %>
  </div>
</div>