<div class="row">
  <div class="col like-btn">
    <%= link_to like_path(current_user.likes.find_by(post_id: post.id)),
                data: { turbo: false },
                method: :delete,
                remote: true do %>
      <i class="fa-solid fa-heart"></i>
    <% end %>
    <span><%= post.likes.count %></span>
  </div>
</div>