<div class="col text-center edit-btn" style="padding: 0;">
  <%= link_to edit_post_path(post), id: 'edit-btn', data: { turbo: false } do %>
    <i class="fa-regular fa-pen-to-square"></i>
  <% end %>
</div>
<div class="col text-center trash-btn" style="padding: 0;">
  <%= link_to post_path(post), id: 'delete-btn', data: { turbo_method: :delete, turbo_confirm: 'この投稿を削除します。よろしいですか？' } do %>
    <i class="fa-regular fa-trash-can"></i>
  <% end %>
</div>
