<div class="col text-center" style="padding: 0;">
  <%= link_to edit_post_path(post), id: 'edit-btn', data: { turbo: false } do %>
    <i class="fa-regular fa-pen-to-square edit-btn fs-5"></i>
  <% end %>
</div>
<div class="col text-center" style="padding: 0;">
  <%= link_to post_path(post), id: 'delete-btn', data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' } do %>
    <i class="fa-regular fa-trash-can trash-btn fs-5"></i>
  <% end %>
</div>
