<% if flash.present? %>
  <div class="flash-window hidden">
    <p><%= notice %></p>
<!--    <div class="flash-window-delete">-->
<!--      <i class="fa-solid fa-x"></i>-->
<!--    </div>-->
  </div>
<% end %>