<footer>
  <nav class="navbar navbar-dark nav-color">
    <div class="container-fluid d-flex justify-content-center">
      <%= link_to '利用規約', page_path('terms_of_service') %>
      <%= link_to 'プライバシーポリシー', page_path('privacy_policy') %>
      <%= link_to 'お問い合わせ', 'https://forms.gle/AbyPNj84zhitbVDm7' %>
    </div>
  </nav>
</footer>