<footer class="footer">
  <nav class="navbar">
    <div class="container-fluid d-flex justify-content-center mb-2">
      <%= link_to '利用規約', page_path('terms_of_service'), class: 'footer-link' %>
      <%= link_to 'プライバシーポリシー', page_path('privacy_policy'), class: 'footer-link' %>
      <%= link_to 'お問い合わせ', 'https://forms.gle/AbyPNj84zhitbVDm7', class: 'footer-link' %>
    </div>
    <p class="copy-right">@ 2023 </p>
  </nav>
</footer>