<div class="col-lg-4 mb-5 px-3">
  <div id="board-id-<%= post.id %>">
    <div class="card">
      <%= link_to item_post_path(post) do %>
        <%= image_tag post.image, class: 'card-img-top' %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title post-name">
          <%= post.name %>
        </h5>
      </div>
    </div>
  </div>
</div>