<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <%= link_to 'デスク環境投稿一覧', desk_posts_path, class: 'nav-link', 'aria-current': true %>
      </li>
      <li class="nav-item">
        <%= link_to 'アイテム投稿一覧', item_posts_path, class: 'nav-link active', 'aria-current': true %>
      </li>
    </ul>
  </div>
  <div class="card-body">

    <div class="container pt-5">
      <div class="col-12">
        <div class="row">
          <%= render @posts %>
        </div>
      </div>

      <%= paginate @posts %>
    </div>

  </div>
</div>

