<div class="container post-body">
  <div class="row text-center">
    <div class="text-divider">
      <h2>診断結果</h2>
    </div>
    <% if @diagnose_posts.present? %>
      <%= render @diagnose_posts %>
    <% else %>
      <p class="my-5">診断結果に該当する投稿はありませんでした。</p>
    <% end %>
  </div>
</div>
