<div class="container mt-5 upload-page">
  <div class="card bg-dark border-white text-white">
    <div class="row">
      <div class="col-10 mx-auto text-center mt-4">
        <h2>自身のデスク環境を編集</h2>
        <hr class="mb-4">
        <%= render 'posts/form', post: @post %>
      </div>
    </div>
  </div>
</div>
