<div class="card index">
  <div class="card-body text-white">
    <div class="container pt-5">
      <div class="col-12">
        <div class="row">
          <h1 class="text-center mb-4">投稿一覧</h1>
          <hr class="mb-5">
          <%= render @posts %>
        </div>
      </div>
      <%= paginate @posts %>
    </div>
  </div>
</div>