<div class="form-back-image">
  <div class="form-container">
    <div class="row">
      <div class="col-10 mx-auto text-center">
        <div class="text-divider mb-5">
          <h2>自身のデスク環境を投稿</h2>
        </div>
        <%= render 'posts/form', post: @post %>
      </div>
    </div>
  </div>
</div>
