@import "bootstrap";
@import "home";
@import "post";
@import "icon";
@import "login-page";
@import "flash-window";
@import "pagination";
@import 'swiper/swiper-bundle.min.css';

main {
  margin-top: 57.43px;
  color: white;
  background-color: #1a1a1a;
}

.nav-color {
  color: white;
  background-color: #3d454d;
}

.flash-message {
  margin: 0 auto;
  position: absolute;
  z-index: 10;
  opacity: 0.7;
}

.post-btn {
  padding-right: 2px;
}

.mypage-btn {
  padding: 0 1px;
}

.login-btn {
  padding-right: 4px;
}

.logout-btn {
  padding-left: 2px;
}

.index {
  background-color: #1a1a1a;
}