@import "bootstrap";
@import "button";
@import "devise";
@import "flash-window";
@import "form";
@import "home";
@import "navbar";
@import "pagination";
@import "profile";
@import "post";
@import "swiper/swiper-bundle.min.css";


main {
  margin-top: 70px;
}

.container {
  padding-top: 80px;
}

.title {
  font-size: 25px;
  font-family: 'Courier New', sans-serif;
  margin: 0 10px;
}

// 線の間に文章を挟む
.text-divider {
  display: flex;
  align-items: center;
  --text-divider-gap: 1rem;
}

.text-divider::before {
  margin-right: var(--text-divider-gap);
}

.text-divider::after {
  margin-left: var(--text-divider-gap);
}

.text-divider::before,
.text-divider::after {
  content: '';
  height: 1px;
  background-color: #000;
  flex-grow: 1;
}