.devise-page {
  background-image: url("devise_page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.devise-page-content {
  width: 50%;
  padding: 80px;

  .devise-body {
    padding: 30px 50px;
  }

  .btn {
    color: white;
    width: 80%;
    padding: 15px 60px;
  }
}


/* タブレット向けスタイル */
@media (max-width: 820px) {
  .devise-page-content {
    width: 70%;
    padding: 40px;

    .btn {
      padding: 10px 40px;
    }
  }
}

/* スマートフォン向けスタイル */
@media (max-width: 480px) {
  .devise-page-content {
    width: 90%;
    padding: 20px;

    .devise-body {
      padding: 10px 10px 20px 10px;
    }

    .btn {
      padding: 8px 20px;
    }
  }
}
