.flash-window {
  z-index: 9999;

  // 窓の形、文字の形、
  height: 60px;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.8;

  // 中のp要素(メッセージ)を上下左右中央揃え
  display: flex;
  justify-content: center;
  align-items: center;

  // 表示・非表示にかける時間
  transition: 1s 0s ease;

  // 窓の位置調整
  position: fixed;
  top: 10%;
  left: 25%;
  right: 25%;
  margin: auto;

  p {
    color: white;
    margin: 0 auto;
  }

  //div {
  //  margin: 0 10px;
  //  color: white;
  //
  //  &:hover {
  //    cursor: pointer;
  //  }
  //}

  // 窓が非表示の時の状態
  &.hidden {
    opacity: 0;
    top: -70px;
  }
}

.notice-window {
  background-color: dodgerblue;
}

.alert-window {
  background-color: red;
}

// タブレット向けスタイル
@media (max-width: 820px) {
  .flash-window {
    // 大画面の時は窓の横幅は固定
    width: 500px;
  }
}

// スマートフォン向けスタイル
@media (max-width: 480px) {
  .flash-window {
    // 小画面の時は画面サイズの90%で可変
    width: 90%;

    p {
      font-size: 4vw;
    }
  }
}
