.form-back-image {
  background-image: url("form-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.form-container {
  background-color: #fff;
  width: 60%;
  margin: 0 auto;
  padding-top: 80px;
}

.file-upload-text p {
  margin: 0;
}

.file-input-field {
  display: none;
}

.file-upload-container {
  max-width: 100%;
  width: 500px;
  height: 250px;
  position: relative;
  border-radius: 2%;
  margin: 0 auto;

  .file-upload-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .file-upload-icon {
      font-size: 100px;
      margin-bottom: 25px;
    }
  }
}

.drop-default-color {
  color: white;
  background-color: #bbb;
}

.drop-color {
  color: white;
  background-color: #7d7d7d;
}

.preview-container {
  display: flex;
  max-width: 100%;
  overflow: scroll;
}

.preview-image {
  object-fit: contain;
  width: 250px;
  height: 150px;
}
