.like-btn {
  color: #ff4192;
}

.bookmark-btn {
  color: #86b3e0;
}

.edit-btn {
  color: #13c716;
}

.trash-btn {
  color: #ff2d2d;
}

.new-post-btn {
  color: white;
  background-color: green;
  padding: 10px 50px;
}