// ナビゲーションバー
.navbar {
  //color: lightgray;
  background-color: #e6f2ff;
}

.navbar-manu {
  background-color: #e6f2ff;
}

// ヘッダー
.footer {
  padding: 0;

  .footer-link {
    color: gray;
    font-size: 15px;
    text-decoration: none;
    margin: 0 10px;
  }

  .copy-right {
    color: gray;
    margin: 0 auto;
  }
}


// 利用規約、プライバシポリシーページのスタイル
.page-container {
  margin: 0 auto;
  padding: 50px;
  max-width: 1200px;

  h1 {
    text-align: center;
  }

  .page-wrapper {
    margin: 50px 0;

    li {
      padding: 3px;
    }
  }

  .back-link {
    text-align: center;
  }
}