.pagination {
  justify-content: center;
  padding-bottom: 40px;
  margin: 0;
}

.pagination > li > a {
  color: #000;
  border-color: #999999;
  margin: 0 20px;
}

.pagination > li > a:hover {
  color: #fff;
  background-color: #86b3e0;
  border-color: #999999;
}

.pagination > .active > a {
  color: #fff;
  background-color: #86b3e0;
  border-color: #7d7d7d;
  border-radius: 20%;
}

.pagination > li > a:hover {
  border-radius: 20%;
}

.page-link {
  border-radius: 20%;
}
