.pagination {
  justify-content: center;
  padding-bottom: 40px;
  margin: 0;
}

.pagination > li > a {
  color: white;
  background-color: #1a1a1a;
  border: none;
  margin: 0 20px;
}

.pagination > .active > a {
  background: skyblue;
  border-radius: 20%;
}

.pagination > li > a:hover {
  border-radius: 20%;
}

.page-link {
  border-radius: 20%;
}
