.post-body {
  .post-image {
    object-fit: contain;
    height: 700px;
  }

  .post-container {
    padding: 80px 40px;
  }
}

.new-posts {
  position: relative;
  border-color: black;
  padding: 50px 0;
  margin: 70px auto;
  box-shadow: 5px 2px 2px gray;

  .new-posts-title {
    position: absolute;
    top: -18px;
    left: 17%;
    background-color: white;
    padding: 0 15px;
  }
}


// タグ関連

.tag-body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tag-body ul li {
  margin: 8px;
}

.tag-body ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  padding: 0 2.5em 0 1em;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  font-size: 12px;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
  box-sizing: border-box;
}

.tag-body li span {
  position: absolute;
  top: 7px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #0067C0;
  border-radius: 100%;
  color: #fff;
  font-size: 11px;
  -webkit-transition: .2s;
  transition: .2s;
}

.tag-body ul li a:hover {
  background: linear-gradient(to right, #1976d2, #64b5f6);
  border: 1px solid #2196F3;
  color: #fff;
}

.tag-body ul li a:before {
  //content: "#";
  //padding-right: 2px;
}

.tags-container {
  //margin: 30px 0;
}

.tag-body {
  //display: inline-block;
  //margin: 10px;
}

.tag-item {
  //position: relative;
  //color: #fff;
  //background: linear-gradient(to right, #1976d2, #64b5f6);
  //height: 26px;
  //text-decoration: none;
  //padding: 3px 17px 3px 8px;
  //margin: 10px 0 10px 20px;
}

.tag-item:before {
  //position: absolute;
  //top: -2px;
  //left: -7px;
  //content: '';
  //border-color: transparent #1976d2 transparent transparent;
  //border-width: 15px 8px 15px 0;
  //border-style: solid;
  //border-radius: 4px;
}

.tag-item:after {
  //position: absolute;
  //top: -2px;
  //right: 0;
  //content: '';
  //border-color: transparent #fff transparent transparent;
  //border-width: 15px 8px 15px 0;
  //border-style: solid;
  //border-radius: 4px;
}

// コメント
.comment {
  border: 1px solid #ccc;
  padding: 10px 10px 0 10px;
  margin-bottom: 10px;
}

// ソート
.sort-label {
  color: #00f;
  border: none;
  padding: 10px;
  cursor: pointer;
}